html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: white;
  color: #1e1e1e;
}

* {
  box-sizing: border-box;
}

pre {
  font-size: 0.9em;
  padding: 12px;
  word-wrap: break-word;
  margin: 0;
}

.hljs {
  width: 100%;
  margin-bottom: 1em;
}

h1 {
  font-size: 2.25em;
  font-weight: 800;
}

h2 {
  font-weight: 800;
}

::selection {
  background: lightblue; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: lightblue; /* Gecko Browsers */
}

@media screen and (max-width: 767px) {
  .ant-form-item-label {
    padding-bottom: 0 !important;
  }
}