html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #eee;
  color: #1e1e1e;
}

* {
  box-sizing: border-box;
}

pre {
  font-size: 0.9em;
  padding: 12px;
  word-wrap: break-word;
  margin: 0;
}

.hljs {
  width: 100%;
  margin-bottom: 1em;
}

h2 {
  margin-top: 2em;
}